<html>
<head>
    <title>Report Builder Bundle</title>
    {% block stylesheets %}
        {{ parent() }}
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>